!.gitignore
/.htaccess
data/
test/
sirgle/
test.php
*.key
*.sh
log
g5_tree
cheditor5.*/
!ckeditor*/
log/
g5_tree/
.vscode/
naver*.html
initests01/
SIRsoft000/
config.php
pma/

# 이브알바 추가
.env
.env.local
*.env.local
서버_접속정보.txt
migration_config.php
